<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!--Load Map-->


<!--Load Map-->


<!--Initial Position in Neo tracks
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.0"/>-->
    <!--To launch scan unifier set the value to true-->
    <!--Modify depending on the Map // Turn off loading map-->
    <!-- value for rviz navigation-->
    <arg name="rviz_config" value="mapping"/>



<!--Robot description to param server-->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find neo_simulation)/robots/mpo_700/mpo_700.urdf.xacro'"/>


  <!--To publish Joint and Robot state-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	<param name="rate" value="20.0"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
	<param name="publish_frequency" value="20.0"/>
  </node>

<!---=================================================================================================================================================================-->


<!---=================================================================================================================================================================-->
=======================================================================================================================================================-->
<!-- Launch RVIZ -->
	<arg name="rvizconfig" default="$(find neo_simulation)/config/mpo_700/rviz/$(arg rviz_config)_config.rviz" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

    </launch>
